/* CSS files add styling to your content */

/* VARIABLES */

html {

}

/*  BODY */
     body {
     font-family: 'Tangerine', serif; /* google fonts */

    

     }
/*  HEADER */
.header {
  background-color: #1857d6;
  
  

}
/*  NAVBAR */

/*  Source: https://www.w3schools.com/css/css_navbar_vertical.asp */
nav {
  text-align:right;
  overflow: hidden;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  background-color: #1857d6;
  float: right;
}

li a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #02055a;
  color: white;
}

/*  CONTENT */


/*  FOOTER */
<div class="footer">
  <p>
    &copy; yo
  </p>
<p>








