/* CSS files add styling to your content */

/* VARIABLES */

html {
  --bgbody: #02055a;
  --bgheader:#1857d6;
}

/*  BODY */
body {
  font-family: 'Tangerine', serif; /* google fonts */
  background-color: var(--bgbody);
}

.container {
  width:100%;
}

/*  HEADER */
.header {
  background-color: var(--bgheader);
  padding:20px;
  margin-bottom:5px;
  /*width=100%;*/
}
/*  NAVBAR */

/*  Source: https://www.w3schools.com/css/css_navbar_vertical.asp */
nav {
  overflow: hidden;
  float:right;
  padding-right:15.12%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #1857d6;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #02055a;
  color: white;
}

/*  CONTENT */
#content-img {
  text-align:center;
  overflow: hidden;
  width:100%;
  object-fit: cover;
}

/*  FOOTER */
<div class="footer">
  <p>
    &copy; yo
  </p>
<p>








